/* main.css */

/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.logo img {
  max-width: 10%;
  display: block;
  margin: 0 auto;
  float: left;
}

/* Set default font and background colors */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  line-height: 1.5;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Header styles */
header {
  background-color: #003366;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #f1ecec;
  text-decoration: none;
}

a:hover {
  color: #f39c12;
}

.active a {
  color: #f39c12;
  font-weight: bold;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  margin-right: 20px; /* Add margin to create space */
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 0;
  z-index: 999;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 100%;
}

nav ul li ul li a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
}

nav ul li ul li a:hover {
  background-color: #f2f2f2;
}

/* Main section styles */
main {
  max-width: 800px;
  margin: 0 auto; 
  margin-top: 100px;
  padding: 40px;
  flex: 1;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #003366;
  color: white;
  text-align: left;
}

table tbody tr:hover {
  background-color: #f2f2f2;
}

/* Form styles */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

form h2 {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

form button[type="submit"] {
  background-color: #003366;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #ffa500;
}

/* Footer styles */
footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: auto;
   
}
